
// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1240px;

//variables
$background-menu-header: #373c3f;

/* background-bannert-gradient: #19b4c6
 #078aa4 */
$background-files: #27212c;
$background-go-files: #bc3183;
$background-go-galery: #5b0fa1;
$background-blaz: #ebebeb;

//textos

//menu
$texto-menu: #ffffff;
$texto-menu-movil: #fefdfd;

//texto slider
$header-slidet: #ffffff;
$url-slider: #acd8e1;


$texto-files: #4f4558;
$header-blaz: #088ca5;